{% extends "base.html" %}
{% block title %}Pay EMI{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h3 class="mb-4"><i class="bi bi-credit-card"></i> Pay Installment</h3>
        <div class="card shadow-sm">
            <div class="card-body">
                <p><strong>Loan:</strong> {{ emi.loan.loan_id }}</p>
                <p><strong>Installment #:</strong> {{ emi.installment_number }} of {{ emi.loan.tenure_months }}</p>
                <p><strong>Due date:</strong> {{ emi.due_date }}</p>
                <p class="fs-4 fw-bold text-primary">Amount Due: ₹{{ emi.amount_due }}</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Payment Mode</label>
                        <select name="mode" class="form-select">
                            <option value="CASH">Cash</option>
                            <option value="UPI">UPI</option>
                            <option value="CARD">Card</option>
                            <option value="NETBANKING">Net Banking</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg w-100">Confirm Payment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
